<%= form_with(model: position, local: true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation" class="text-red-600 font-semibold mb-2">
      <h2><%= pluralize(position.errors.count, 'error') %> prohibited this position from being saved:</h2>
      <ul class="list-disc list-inside">
        <% position.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :post_name, class: 'block font-semibold' %>
    <%= form.text_field :post_name, class: 'w-full p-2 border border-gray-300 rounded' %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: 'block font-semibold' %>
    <%= form.text_area :description, class: 'w-full p-2 border border-gray-300 rounded' %>
  </div>

  <div class="mb-4">
    <%= form.label :department_id, class: 'block font-semibold' %>
    <%= form.select :department_id, Department.all.map { |dept| [dept.title, dept.id] }, {}, class: 'w-full p-2 border border-gray-300 rounded' %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700' %>
  </div>
<% end %>
