<h1 class="text-2xl font-bold mb-4">Positions</h1>

<div>
  <%= render 'search_form' %>
</div>

<table class="w-full border-collapse border border-gray-300">
  <thead>
  <tr>
    <th class="px-4 py-2 border-b border-gray-300">Post Name</th>
    <th class="px-4 py-2 border-b border-gray-300">Description</th>
    <th class="px-4 py-2 border-b border-gray-300">Department</th>
    <th class="px-4 py-2 border-b border-gray-300"></th>
    <th class="px-4 py-2 border-b border-gray-300"></th>
    <th class="px-4 py-2 border-b border-gray-300"></th>
  </tr>
  </thead>
  <tbody>
  <% @positions.each do |position| %>
    <tr>
      <td class="px-4 py-2 border-b border-gray-300"><%= position.post_name %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= position.description %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= position.department.title %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= link_to 'Show', position, class: 'text-blue-600 hover:underline' %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= link_to 'Edit', edit_position_path(position), class: 'text-green-600 hover:underline' %></td>
      <td class="px-4 py-2 border-b border-gray-300">
        <%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 hover:underline' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Position', new_position_path, class: 'px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700' %>
