<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
          <% if @stuff.profile_image.attached? %>
            <li>
              <%= image_tag @stuff.profile_image , height: '240px', width: '240px'%>
            </li>
          <% end %>

    <br> <br>

    <%= render @stuff %>

    <%= link_to 'Edit stuff password', edit_stuff_path(@stuff), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% @test = 1 %>
    <%= link_to 'Edit stuff information', edit_stuff_path(@stuff, @test), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <%= link_to 'Assing Asset', new_asset_stuff_url(@stuff), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>



    <div class="inline-block ml-2">
      <%= button_to 'Destroy this stuff', stuff_path(@stuff), method: :delete, params: { asset_stuff: { status: 'returned' } }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to stuffs', stuffs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>

<br>

<div class="mb-4">
  <%= form_tag(url_for(controller: :stuffs, action: :show, id: @stuff.id), method: :get, class: "mb-4") do %>
    <%= label_tag :filter, "Filter by:" %>
    <%= select_tag :filter, options_for_select([['Assigned', 'assigned'], ['Unassigned', 'unassigned'], ['All', 'all']], params[:filter]), include_blank: true %>
    <%= submit_tag "Apply Filter", class: "px-4 py-2 bg-gray-100 rounded-lg font-medium" %>
  <% end %>
</div>


<div>

  <%= render 'assaign_assets' %>

</div>
