<div class="ml-20">
<h1 class="text-2xl font-bold mb-4">Departments</h1>
<div>
  <%= render 'search_form' %>
</div >

<table class="w-full border-collapse border border-gray-300">
  <thead>
  <tr>
    <th class="px-4 py-2 border-b border-gray-300">Title</th>
    <th class="px-4 py-2 border-b border-gray-300">Description</th>
    <th class="px-4 py-2 border-b border-gray-300"></th>
    <th class="px-4 py-2 border-b border-gray-300"></th>
    <th class="px-4 py-2 border-b border-gray-300"></th>
  </tr>
  </thead>
  <tbody>
  <% @departments.each do |department| %>
    <tr>
      <td class="px-4 py-2 border-b border-gray-300"><%= department.title %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= department.description %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= link_to 'Show', department, class: 'text-blue-600 hover:underline' %></td>
      <td class="px-4 py-2 border-b border-gray-300"><%= link_to 'Edit', edit_department_path(department), class: 'text-green-600 hover:underline' %></td>
      <td class="px-4 py-2 border-b border-gray-300">
        <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-600 hover:underline' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Department', new_department_path, class: 'px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700' %>
</div>