
<div class="ml-20">
<%= form_tag ps_price_create_path, method: :post do %>
  <table class="table-auto w-full">
    <thead>
    <tr>
      <th class="px-4 py-2">Product Name</th>
      <th class="px-4 py-2">Price</th>
      <th class="px-4 py-2">Supplier Name</th>
      <!--        <th class="px-4 py-2"> Qty </th>-->
      <th class="px-4 py-2">Select</th>

    </tr>
    </thead>
    <tbody>
    <% @product_suppliers.each do |ps| %>
      <tr>
        <td class="border px-4 py-2"><%= ps.product.title  %></td>
        <td class="border px-4 py-2"><%= ps.price  %></td>
        <td class="border px-4 py-2"><%= ps.supplier.name %></td>

        <td class="border px-4 py-2">
          <%= check_box_tag "selected_ps[]", [ps.id].join(',') %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<br>
  <%= submit_tag "Create Order", class: "mt-4 py-2 px-4 bg-blue-500 hover:bg-blue-600 rounded cursor-pointer" %>
<% end %>
</div>