<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @product %>

    <%= link_to 'Edit this product', edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to products', products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>

  <%
=begin%>
 <p></p>
  <br>
  <div>
      <% pro = @product %>
      <% sup = pro.suppliers %>

<h1>List of suppliers:</h1>
<% sup.each do |x| %>
  <% pr = ProductSupplier.find(x.id) %>
  
  <br>
  <ul>
    <li><%= x.id %></li>
    <li><%= x.name %></li>
    <li><%= pr.price %></li>
   
    <%= form_with(model: LineItem, url: line_item_create_path, method: :post) do |form| %>
      <%= form.hidden_field :product_id, value: pro.id %>
      <%= form.hidden_field :supplier_id, value: x.id %>
      <%= form.hidden_field :unit_price, value: pr.price %>
      <input type="number" name="line_item[quantity]" />
      <%= form.submit "Order Here", style: "background-color: #f56565; color: #fff; padding: 0.5rem 1rem; border-radius: 0.375rem; cursor: pointer;" %>
    <% end %>
  </ul>
<% end %>



  </div> 
<%
=end%>
